@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{margin: 0;padding: 0;
    cursor: url(https://img.icons8.com/?size=100&id=jxd84l3wJsts&format=png&color=000000)2 2, auto;
}
ul{list-style: none;}
a{text-decoration: none; color: #fff;}
body{
    font-family: 'Roboto', sans-serif;
    background: #0a0a0a;
    overflow-x:hidden
}
body::-webkit-scrollbar{/*스크롤바의 너비*/
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    height: 10%;/*바의 길이*/
    background: #D9FF02;/*바의 색상*/
}
body::-webkit-scrollbar-track{
    background: #0a0a0a;/*바의 뒷배경*/
}
#wrap{
    width: 100%;/*배너이미지 때문에*/
    max-width: 1920px;
    height: 10000px;
    position: relative;
    
}
/* header시작 */
#wrap header{
    margin: 20px auto;
    width: 100%;
    max-width: 1800px;
    height: 80px;
    align-items: center;
    z-index: 1;
    position: sticky;
    top: 10px;
    background: #0a0a0a;
    border-radius: 20px;
}
#wrap header .top{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 auto;
}
#wrap header .top .logo{
    width: 80px;
    height: 50px;
    position: relative;
    transition: .4s;
    transform-style: preserve-3d;
    top: 50%;
    transform: translateY(-50%);
    /* background: #eee; */
}
#wrap header .top .logo:hover{
    transform: rotateY(180deg);
}
#wrap header .top .logo a:first-child{
    display: flex;
}
#wrap header .top .logo a:first-child img{
    filter: invert(100%);/*색반전*/
}
#wrap header .top .logo a:nth-child(2) img{
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}
#wrap header .top .logo a:first-child,
#wrap header .top .logo a:nth-child(2){
    position: absolute;
    width: 100%; 
    height: 100%;
    backface-visibility: hidden;
}
#wrap header .top .logo a:nth-child(2){
    width: 90%;
    transform: rotateY(180deg);
}
#wrap header .top .logo a img{
    width: 100%;
}
#wrap header .top .menu{
    width: 100%;
}
#wrap header .top .menu > ul{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 100%;
    margin-left: 50px;
    /* background: red; */
}
#wrap header .top .menu > ul > li{
    width: calc(100% / 4);
    text-align: center;
    line-height: 80px;
}
#wrap header .top .menu > ul > li > a{
    font-size: 18px;
}
#wrap header .top .menu > ul > li:hover > a{
    text-decoration: underline;
    text-underline-position: under;
}
#wrap header .top .menu > ul > li > ul.sub{
    width: 100%;
    height: 0;
    background: #fff;
    line-height: 50px;
    transition: 0.2s;
    overflow: hidden;
    border-radius: 10px;
    text-align: left;
    padding-left: 30px    
}
#wrap header .top .menu > ul > li > ul.sub > li a{
    color: gray;
}
#wrap header .top .menu > ul > li > ul.sub > li:hover{
    color: #000;
}
#wrap header .top .menu > ul > li > ul.sub > li:hover a{
    color: #000;
}
#wrap header .top .menu > ul > li:hover > ul{
    width: 200px;
    height: 100px;
}
#wrap header .top .menu > ul > li:nth-child(1):hover > ul.sub,
#wrap header .top .menu > ul > li:nth-child(3):hover > ul.sub{
    height: 150px;
}
#wrap header .top .menu > ul > li:nth-child(4):hover > ul.sub{
    height: 100px;
}
#wrap header .top .menu > ul > li:nth-child(2):hover > ul.sub{
    height: 250px;
}
#wrap header .top .lang > ul{
    display: flex;
}
#wrap header .top .lang > ul > li{
    width: 100%;
    padding-right: 20px;
    font-size: 14px;
    line-height: 80px;
    position: relative;
}
#wrap header .top .lang > ul > li:nth-child(1):after{
    content: "";
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: rgba(999, 999, 999, 0.3);
    left: 70%;
    top: 50%;
    transform: translateY(-50%);
}
#wrap header .top .lang > ul > li > a{
    color: rgba(999, 999, 999, 0.7);
}
#wrap header .top .lang > ul > li a:hover{
    color: #fff;
}
#wrap header .top .lang > ul > li > a img{
    width: 20px;
    height: 20px;
    filter: invert(100%);/*색반전*/
    position: relative;
    top: 5px;
}
#wrap header .top .lang > ul > li:hover > a img{
    animation: ani;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes ani{
    0%{transform:rotateY(0)}
    100%{transform:rotateY(180deg)}}
/* header끝 */
/* main시작 */
    main{
        width: 100%;
        height: 500px;
        max-width: 1920px;
        margin: 0 auto;
    }
    main .banner{
        width: 100%;
        overflow: hidden;
    }
    main .cont1{
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-top: 5%;
    }
    main .cont1 .main{
        margin-top: 30px;
    }
    main .cont1 .main p{
        position: relative;
    }
    main .cont1>p{
        line-height: 230px;
    }
    main .cont1>p:nth-child(1){
        font-size: 200px;
        font-weight: 300;
        white-space: pre;
        animation: bigtextani;
        animation-duration: 100s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        color: #fff;
        position: absolute;
    }
    main .cont1>p:nth-child(2){
        margin-top: 200px;
        font-size: 200px;
        font-weight: 300;
        white-space: pre;
        animation: bigtextani;
        animation-duration: 100s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: reverse;
        color: #fff;
        position: absolute;
    }
    main .cont1 .main .mainimg{
        width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px;
        grid-template-rows: 200px 200px;
        position: relative;
        gap: 10px;
    }
    main .cont1 .main .mainimg>li{
        width: 180px;
        height: 180px;
    }
    main .cont1 .main .mainimg>li img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @keyframes bigtextani {
        0%{transform: translateX(0px);}
        100%{transform: translateX(-2000px);}
    }
    main .cont3{
        width: 100%;
        height: 1000px;
        margin: 50px auto;
        
        /* background: rgba(999, 999, 999, 0.1); */
    }
    main .cont3>ul{
        width: 90%;
        height: 700px;
        margin: 0 auto;
        display: flex;
        background: #ddd;
    }
    main .cont3 ul>li{
        background: rgba(0, 0, 0, 0.9);  
    }
    main .cont3 ul>li:nth-child(1){
        width: 40%;
    }
    main .cont3 ul>li:nth-child(1) img{
        width: 100%;
        object-fit: cover;
        
    }
    main .cont3 ul>li:nth-child(2) ul{
        display: flex;
        flex-direction: column;
    }
    main .cont3 ul>li:nth-child(2) ul li a p{
        font-size: 60px;
        font-weight: 500;
        line-height: 150%;
        transition: 0.2s;
    }
    main .cont3 ul>li:nth-child(2):hover ul li:hover a p{
        color: #D9FF02;
    }
    
/* main끝 */