@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
*{margin: 0;padding: 0;
    /* cursor: url(https://img.icons8.com/?size=100&id=jxd84l3wJsts&format=png&color=000000)2 2, auto; */
}
ul{list-style: none;}
a{text-decoration: none; color: #fff;}
body{
    font-family: 'pretendard', sans-serif;
    background: #0a0a0a;
    overflow-x:hidden
}
body::-webkit-scrollbar{/*스크롤바의 너비*/
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    height: 10%;/*바의 길이*/
    background: #D9FF02;/*바의 색상*/
}
body::-webkit-scrollbar-track{
    background: #0a0a0a;/*바의 뒷배경*/
}
#wrap{
    width: 100%;/*배너이미지 때문에*/
    height: 10000px;
    position: relative;
    margin: 0 auto;
}

/* header시작 */
#wrap header{
    margin: 20px auto;
    width: 100%;
    max-width: 1800px;
    height: 100px;
    align-items: center;
    z-index: 100;
    position: sticky;
    top: 10px;
    background: #0a0a0a;
    border-radius: 20px;
}
#wrap header .top{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 auto;
}
#wrap header .top .logo{
    width: 80px;
    height: 100%;
    position: relative;
    transition: .4s;
    transform-style: preserve-3d;
    top: 50%;
    transform: translateY(-50%);
    /* background: #eee; */
}
#wrap header .top .logo:hover{
    transform: rotateY(180deg);
}
#wrap header .top .logo a:first-child{
    display: flex;
}
#wrap header .top .logo a:first-child img{
    filter: invert(100%);/*색반전*/
}
#wrap header .top .logo a:nth-child(2) img{
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}
#wrap header .top .logo a:first-child,
#wrap header .top .logo a:nth-child(2){
    position: absolute;
    width: 100%; 
    height: 100%;
    backface-visibility: hidden;
}
#wrap header .top .logo a:nth-child(2){
    width: 90%;
    transform: rotateY(180deg);
}
#wrap header .top .logo a img{
    width: 100%;
}
#wrap header .top .menu{
    width: 100%;
}
#wrap header .top .menu > ul{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 100%;
    margin-left: 50px;
    /* background: red; */
}
#wrap header .top .menu > ul > li{
    width: calc(100% / 4);
    text-align: center;
    line-height: 100px;
}
#wrap header .top .menu > ul > li:nth-child(4) a{
    padding-left: 20px;
}
#wrap header .top .menu > ul > li > a{
    font-size: 18px;
    font-weight: bold;
}
#wrap header .top .menu > ul > li:hover > a{
    text-decoration: underline;
    text-underline-position: under;
}
#wrap header .top .menu > ul > li > ul.sub{
    width: 100%;
    height: 0;
    background: #fff;
    line-height: 45px;
    transition: 0.2s;
    overflow: hidden;
    border-radius: 10px;
    text-align: left;
    padding-left: 30px;
}
#wrap header .top .menu > ul > li > ul.sub > li{
    padding-top: 2px;
}
#wrap header .top .menu > ul > li > ul.sub > li a{
    color: gray;
    text-transform: uppercase;
    font-size: 18px;
}
#wrap header .top .menu > ul > li > ul.sub > li:hover{
    color: #000;
}
#wrap header .top .menu > ul > li > ul.sub > li:hover a{
    color: #000;
}
#wrap header .top .menu > ul > li:hover > ul{
    width: 200px;
    height: 100px;
}
#wrap header .top .menu > ul > li:nth-child(1):hover > ul.sub,
#wrap header .top .menu > ul > li:nth-child(3):hover > ul.sub{
    height: 150px;
}
#wrap header .top .menu > ul > li:nth-child(4):hover > ul.sub{
    height: 100px;
}
#wrap header .top .menu > ul > li:nth-child(2):hover > ul.sub{
    height: 250px;
}
#wrap header .top .lang > ul{
    display: flex;
}
#wrap header .top .lang > ul > li{
    width: 100%;
    padding-right: 20px;
    font-size: 15px;
    line-height: 100px;
    position: relative;
}
#wrap header .top .lang > ul > li:nth-child(1):after{
    content: "";
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: rgba(999, 999, 999, 0.3);
    left: 70%;
    top: 50%;
    transform: translateY(-50%);
}
#wrap header .top .lang > ul > li > a{
    color: rgba(999, 999, 999, 0.7);
}
#wrap header .top .lang > ul > li a:hover{
    color: #fff;
}
#wrap header .top .lang > ul > li > a img{
    width: 20px;
    height: 20px;
    filter: invert(100%);/*색반전*/
    position: relative;
    top: 5px;
}
#wrap header .top .lang > ul > li:hover > a img{
    animation: ani;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes ani{
    0%{transform:rotateY(0)}
    100%{transform:rotateY(180deg)}}
/* header끝 */


/* main시작 */
    main{
        width: 100%;
        margin: 0 auto;
        position: relative;
        background: #0a0a0a;
    }
    main .gotop{
        position: absolute;
        z-index: 100;
        width: 50px;
        height: 50px;
        top: 730px;
        right: 15px;
        transition: 0.2s;
    }
    main .gotop:hover{
        top: 720px;
    }
    main .gotop a{
        display: block;
        position: fixed;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        text-align: center;
        transition: 0.2s;
        background: rgba(255, 255, 255, 0.10);
    }
    main .gotop a img{
        width: 60%;
        height: 60%;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        filter: invert(100%);
    }


    main .banner{
        width: 98%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        background: #0a0a0a;
    }
    main .banner .more{
        display: flex;
        justify-content: flex-end;
        position: absolute;
        z-index: 1;
        width: 100%;
    }
    main .banner .more a{
        display: flex;
        align-items: center;
        font-size: 0;
        background: #0a0a0a;
        padding: 20px;
        border-radius: 0 0 0 30px;
        position: relative;
    }
    main .banner .more a::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 33px;
        background-image: url(../images/banner_more_00.svg);
        background-repeat: no-repeat;
    }
    main .banner .more a::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 77px;
        right: -211px;
        background-image: url(../images/banner_more_00.svg);
        background-repeat: no-repeat;
    }
    main .banner .more a>p:nth-child(2){
        font-size: 24px;
        font-weight: bold;
        padding-left: 20px;
    }
    main .banner .loopbar{
        display: flex;
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 0;
    }
    main .banner .loopbar a{
        display: flex;
        align-items: center;
        font-size: 0;
        background: #0a0a0a;
        padding: 20px;
        border-radius: 0 30px 0 0;
        position: relative;
    }
    main .banner .loopbar a::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -34px;
        left: 0;
        background-image: url(../images/banner_more_02.svg);
        background-repeat: no-repeat;
    }
    main .banner .loopbar a::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 27px;
        left: 281px;
        background-image: url(../images/banner_more_02.svg);
        background-repeat: no-repeat;
    }

    main .banner .loopbar a>p{
        margin-left: 15px;
    }
    main .banner .loopbar a>p:nth-child(1),
    main .banner .loopbar a>p:nth-child(3){
        font-size: 18px;
        font-weight: bold;
    }
    main .banner .loopbar a>p.bar{
        position: relative;
    }
    main .banner .loopbar a>p.bar::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: #fff;
        animation: bar;
        animation-duration: 37.6s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transform-origin: left;
    }
    @keyframes bar{
        0%{transform: scaleX(0);}
        100%{transform: scaleX(1);}
    }
    main .banner .loopbar a>p:nth-child(4){
        padding-left: 20px;
        padding-right: 10px;
    }

    main .banner .video{
        height: 700px;
        position: relative;
    }
    main .banner .video>p{
        height: 100%;
    }
    main .banner .video>p video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px;
    }
    main .banner .scrollimg{
        width: 100%;
        position: relative;
    }
    main .banner .scrollimg>p{
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
    }
    main .banner .scrollimg>p:nth-child(1){
        color: #000;
        position: absolute;
        z-index: 1;
        top: -35px;
    }
    main .banner .scrollimg>p:nth-child(2)>img{
        animation: rotate;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    @keyframes rotate {
        0%{transform: rotate(0deg);}
        100%{transform: rotate(360deg);}
    }
    main .cont0{
        width: 100%;
        margin: 200px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    main .cont0>p{
        width: 28%;
        height: 450px;
    }
    main .cont0>p:nth-child(1) img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 20px 20px 0;
    }
    main .cont0>p:nth-child(3) img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 0  0 20px;
    }
    main .cont0>.cont0txt{
        width: 40%;
        color: #fff;
        text-align: center;
    }
    main .cont0>.cont0txt>p:nth-child(1){
        font-size: 32px;
        font-weight: bold;
    }
    main .cont0>.cont0txt>p:nth-child(2){
        font-size: 18px;
        padding-top: 20px;
        line-height: 28px;
    }
    main .cont0>.cont0txt>p.button{
        margin-top: 60px;
    }
    main .cont0>.cont0txt>p.button a{
        border: 1px solid;
        border-radius: 3px;
        padding: 10px 35px;
        transition: 0.3s;
    }
    main .cont0>.cont0txt>p.button:hover a{
        background: rgba(999, 999, 999, 0.1);
    }

    main .cont1{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 5% 0;
        background: #0a0a0a;
    }
    main .cont1 .main{
        width: 100%;
        height: 100%;
        margin-top: 50px;
    }
    main .cont1 .main p{
        position: relative;
    }
    main .cont1>p{
        line-height: 250px;
        font-style: italic;
        font-weight: bold;
        -webkit-text-stroke: 2px #fff;
    }
    main .cont1>p:nth-child(1){
        font-size: 1000%;
        white-space: pre;
        animation: bigtextani;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        position: absolute;
    }
    main .cont1>p:nth-child(2){
        margin-top: 200px;
        font-size: 1000%;
        white-space: pre;
        animation: bigtextani;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: reverse;
        position: absolute;
    }
    main .cont1>p>span{
        color: #fff;
    }
    main .cont1 .main .mainimg{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px;
        grid-template-rows: 200px 200px;
        position: relative;
        top: -20px;
        justify-content: center;
    }
    main .cont1 .main .mainimg>li{
        width: 100%;
        height: 100%;
    }
    main .cont1 .main .mainimg>li img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    @keyframes bigtextani {
        0%{transform: translateX(0px);}
        100%{transform: translateX(-2000px);}
    }


    main .cont2{
        width: 95%;
        height: 100%;
        max-width: 1300px;
        margin: 10% auto;
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }
    main .cont2 ul{
        flex: 1 1 45%;
        max-width: 1300px;
    }
    main .cont2 ul li{
        position: relative;
        padding: 30px 0;
        border-bottom: 1px solid #aaa;
        margin-bottom: 20px;
    }
    main .cont2 ul li:hover{
        border-bottom: 1px solid #fff;
    }
    main .cont2>ul>li>a{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    main .cont2 ul li>a>p:nth-child(1){
        font-size: 80px;
    }
    main .cont2 ul li:hover>a>p:nth-child(1){
        color: #D9FF02;
    }  
    main .cont2>ul>li>a .arrow{
        height: 30px;
    }
    main .cont2>ul>li>a .arrow >p{
        width: 30px;
    }
    main .cont2>ul>li:hover>a .arrow >p:nth-child(2){
        display: none;
    }
    main .cont2>ul>li>a .arrow >p img{
        width: 30px;
        position: absolute;
    }



    main .cont3{
        width: 90%;
        height: 100%;
        max-width: 1600px;
        padding: 10% 0;
        margin: 0 auto;
    }
    main .cont3 .inner{
        width: 100%;
    }
    main .cont3 .inner .newstxt{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 60px;
        color: #fff;
    }
    main .cont3 .inner .newstxt>p:nth-child(1){
        font-size: 48px;
        font-weight: bold;
    }
    main .cont3 .inner .newstxt>p:nth-child(2){
        font-size: 18px;
    }
    main .cont3 .inner .newstxt>p:nth-child(2) span{
        padding: 0 10px;
        transition: 0.5s;
    }
    main .cont3 .inner .newstxt>p:nth-child(2):hover span{
        padding-left: 10px;
        padding-right: 0;
    }
    main .cont3 .inner>ul{
        display: flex;
        gap: 20px;
    }
    main .cont3 .inner>ul li{
        flex: 1 1 20%;
        /* border: 1px solid #595959; */
        overflow: hidden;
        background: #151515;
        border-radius: 10px;
    }
    main .cont3 .inner>ul li:hover{
        background: #222;
    }
    main .cont3 .inner>ul li a> p{
        height: 204px;
        overflow: hidden;
    }
    main .cont3 .inner>ul li a> p img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(0.8);
        transition: 0.2s;
    }
    main .cont3 .inner>ul li:hover a> p img{
        filter: grayscale(0);
        transform: scale(1.05);
    }
    main .cont3 .inner>ul li a> .txt{
        padding: 40px 35px;
        border-radius: 20px;
        letter-spacing: -1px;
    }
    main .cont3 .inner>ul li a> .txt p:nth-child(1){
        font-size: 16px;
        margin-bottom: 25px;
    }
    main .cont3 .inner>ul li a> .txt p:nth-child(2){
        font-size: 20px;
        font-weight: bold;
        height: 55px;
        overflow: hidden;
        word-break: keep-all;
        line-height: 30px;
    }
    main .cont3 .inner>ul li a> .txt p:nth-child(3){
        font-size: 16px;
        padding-top: 40px;
        color: #999;
    }

    main .cont4{
        width: 70%;
        height: 100%;
        max-width: 1600px;
        display: flex;
        color: #fff;
        margin: 0 auto;
        margin-top: 250px;
        margin-bottom: 150px;
    }
    main .cont4>div{
        width: 50%;
    }
    main .cont4 .imgbox{
        width: 50%;
        overflow: hidden;
        border-radius: 20px;
    }
    main .cont4 .imgbox img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.2s;
    }
    main .cont4 .imgbox:hover img{
        transform: scale(1.1);
    }
    main .cont4 .cont4txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 100px;
    }
    main .cont4 .cont4txt p{
        padding-bottom: 20px;
    }
    main .cont4 .cont4txt p:nth-child(1){
        font-size: 31px;
    }
    main .cont4 .cont4txt p:nth-child(2){
        font-size: 80px;
    }
    main .cont4 .cont4txt p:nth-child(3){
        font-size: 19px;
        line-height: 30px;
    }
    main .cont4 .cont4txt p:nth-child(3)>span{
        font-size: 14px;
        line-height: 40px;
    }
    main .cont4 .cont4txt p:nth-child(4){
        font-size: 16px;
        padding-top: 30px;
    }
    main .cont4 .cont4txt p:nth-child(4):hover a{
        background: rgba(999, 999, 999, 0.1);
    }
    main .cont4 .cont4txt p:nth-child(4) a{
        border: 1px solid;
        border-radius: 3px;
        padding: 10px 35px;
        transition: 0.3s;
    }
    .cont4.reverse{
        flex-direction: row-reverse;
    }
    .cont4.reverse .cont4txt{
        align-items: flex-end;
        padding-right: 100px;
    }


    .cont5{
        padding: 100px 0;
        width: 90%;
        height: 100%;
        max-width: 1600px;
        margin: 0 auto;
        color: #fff;
        text-align: center;
    }
    .cont5>p:nth-child(1){
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 60px;
    }
    .cont5 .gallary{
        width: 100%;
        display: grid;
        grid-template-columns: 385px 385px 385px 385px;
        grid-template-rows: 385px 385px;
        gap: 20px;
    }
    .cont5 .gallary .photo1{
        border-radius: 20px;
        background-image: url(../images/photo1.jpg);
        background-size: cover;
    }
    .cont5 .gallary .photo2{
        border-radius: 20px;
        background-image: url(../images/photo1.jpg);
        background-size: cover;
    }
    .cont5 .gallary .photo3{
        border-radius: 20px;
        background-image: url(../images/photo1.jpg);
        background-size: cover;
    }
    .cont5 .gallary .photo4{
        border-radius: 20px;
        background-image: url(../images/photo1.jpg);
        background-size: cover;
    }
    .cont5 .gallary .photo5{
        border-radius: 20px;
        background-image: url(../images/photo1.jpg);
        background-size: cover;
    }
    .cont5 .gallary .photo6{
        border-radius: 20px;
        background-image: url(../images/photo1.jpg);
        background-size: cover;
    }
    .cont5 .gallary .photo7{
        border-radius: 20px;
        background-image: url(../images/photo1.jpg);
        background-size: cover;
    }
    .cont5 .gallary .photo8{
        border-radius: 20px;
        background-image: url(../images/photo1.jpg);
        background-size: cover;
    }
 
/* main끝 */